{% extends "index/base_index.html" %}


{% block index_content %}
<section>
    <h1>Wystąpił błąd</h1>
    <div>
        <p>Przepraszamy, ale wystąpił błąd podczas przetwarzania Twojego żądania.</p>
        <span>    <p>Spróbuj odświeżyć stronę, bądź wróć do poprzedniej strony.</p>
</span>
    </div>
</section>
{% endblock %}

{% block header %}
<!-- <section class="hero">
    <div class="hero-content">
        <div class="container">
            <h1>Transformacja Cyfrowa Twojego Biznesu</h1>
            <p class="lead">Profesjonalne usługi IT dostosowane do Twoich potrzeb</p>
            <div class="cta-group">
                <a href="#contact" class="btn btn-primary">Bezpłatna Konsultacja</a>
                <a href="#services" class="btn btn-secondary">Nasze Usługi</a>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}